body {
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.error-notification {
    display: block;
    position: fixed;
    bottom: 50px;
    left: 50px;
    padding: 5px 20px;
    background: darkred;
    color: #fff;
    border-radius: 3px;
}
