.table-wrapper {
  overflow-y: auto;
  height: calc(100vh - 100px);
  text-align: center;
}

.content-wrapper {
  position: relative;
  height: calc(100vh - 100px);
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  justify-content: space-between;
}

.table-single-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.image-wrapper {
  width: 300px;
  height: 300px;
  position: relative;
}
